dr25_stellar_updated_feh_all.txt
GKSPCPapTable2_Final.txt
GKSPCIIPapTable1_2020-05-28.csv
examineCfpTable-experimenting.ipynb
Untitled.ipynb
dr25_stellar_berger2020_clean_FGKM.txt
dr25_stellar_berger2020.txt
